---
layout: default
---

<div class="container">
<div class="row">
  <h1 class="page-heading">Table View</h1>

  {% if site.data.contacts %}
    <table id="table-list" class="table table-striped table-bordered data-table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th class="hidden-xs hidden-sm">County</th>
          <th class="hidden-xs hidden-sm">Department</th>
          <th class="hidden-xs">Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
      {% for contact in site.data.contacts %}
        <tr>
          <td>{{ contact.name }}</td>
          <td class="hidden-xs hidden-sm">{{ contact.organization }}</td>
          <td class="hidden-xs">{{ contact.email }}</td>
          <td>{{ contact.phone }}</td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Name</th>
          <th class="hidden-xs hidden-sm">County</th>
          <th class="hidden-xs hidden-sm">Department</th>
          <th class="hidden-xs">Email</th>
          <th>Phone</th>
        </tr>
      </tfoot>
    </table><!-- /#table-list -->
  {% endif %}

</div><!-- /.row -->
</div><!-- /.container -->
