<header>
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ site.title }}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li{% if page.active == 'table' %} class="active"{% endif %}><a href="/"><i class="fa fa-table"></i>&nbsp;Table</a></li>
          <li{% if page.active == 'cards' %} class="active"{% endif %}><a href="/cards"><i class="fa fa-th-large"></i>&nbsp;Cards</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

</header>