
<script src="{{ "/assets/js/jquery-1.11.2.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.dataTables.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/dataTables.bootstrap.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/list.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
